* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
/*    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; */
    font-size:12px;
    margin:0px;
    padding:0px;
    width:100%;
    background-color:White;
    overflow:hidden;
}

.button {
  background: #e4eafa none 0 0 repeat-x;
  border: solid 1px #adc0ed;
  color: #2e4987;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 100%;
  margin: 1px;
  padding: 0.83em 1em;
  position: relative;
  text-decoration: none;
  text-shadow: #fff 0 1px 0;
  vertical-align: middle;
  white-space: nowrap;

  /* gecko */
  -moz-user-select: none;
  -moz-border-radius: 6px;
  background-image: -moz-linear-gradient(-90deg,
    #eeeeee 1%,
    #f3f5fa 5%,
    #e4eafa 70%,
    #c9d5f6 100%);

  /* webkit */
  -webkit-user-select: none;
  -webkit-border-radius: 6px;
  background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0.01, #eee),
    color-stop(0.05, #f3f5fa),
    color-stop(0.70, #e4eafa),
    color-stop(1, #c9d5f6));
}

.button:focus {
  outline: none;
}

.button.icon img {
  border: none;
  display: block;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

.button.pressed {
  color: #fff;
  text-shadow: #2e4987 0 1px 0;
  background-color: #5884d6;
  border-color: #7488b8;

  /* Gecko */
  background-image: -moz-linear-gradient(-90deg,
    #eeeeee 1%,
    #709de7 5%,
    #5884d6 70%,
    #4470ca 100%);

  /* webkit */
  background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0.01, #eee),
    color-stop(0.05, #709de7),
    color-stop(0.70, #5884d6),
    color-stop(1, #4470ca));
}

.button.start-arrow {
  border-left: none !important;
  margin-left: 26px;
  padding-left: 0;

  /* gecko */
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;

  /* webkit */
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
}


.button.start-arrow:after,
.button.end-arrow:after {
  border: solid 1px #adc0ed;
  bottom: -1px;
  content: '';
  display: block;
  position: absolute;
  text-shadow: none;
  top: -1px;
  width: 2.60em;
  z-index: -1;
}

.button.start-arrow:after {
  left: -16px;

  /* Gecko */
  -moz-transform: rotate(45deg);
  -moz-border-radius-topleft: 17px;
  -moz-border-radius-bottomright: 17px;
  background-image: -moz-linear-gradient(-45deg,
    #eeeeee 12%,
    #f3f5fa 20%,
    #e4eafa 60%,
    #c9d5f6 100%);

  /* webkit */
  -webkit-transform: rotate(45deg);
  -webkit-border-top-left-radius: 17px;
  -webkit-border-bottom-right-radius: 17px;
  background-image: -webkit-gradient(linear,0 0,100% 100%,
    color-stop(0.12, #eee),
    color-stop(0.20, #f3f5fa),
    color-stop(0.60, #e4eafa),
    color-stop(1, #c9d5f6));
}

.button.pressed.start-arrow:after {
  background-color: #5884d6;
  border-color: #7488b8;

  background-image: -moz-linear-gradient(-45deg,
    #eeeeee 12%,
    #709de7 20%,
    #5884d6 60%,
    #4470ca 100%);

  /* webkit */
  background-image: -webkit-gradient(linear,0 0,100% 100%,
    color-stop(0.12, #eee),
    color-stop(0.20, #709de7),
    color-stop(0.60, #5884d6),
    color-stop(1, #4470ca));
}


.button.end-arrow {
  border-right: none;
  margin-right: 26px;
  padding-right: 0;

  /* gecko */
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;

  /* webkit */
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
}

.button.end-arrow:after {
  right: -16px;

  /* Gecko */
  -moz-transform: rotate(-45deg);
  -moz-border-radius-topright: 17px;
  -moz-border-radius-bottomleft: 17px;
  background-image: -moz-linear-gradient(-135deg,
    #eeeeee 12%,
    #f3f5fa 20%,
    #e4eafa 60%,
    #c9d5f6 100%);

  /* webkit */
  -webkit-transform:rotate(-45deg);
  -webkit-border-top-right-radius:17px;
  -webkit-border-bottom-left-radius:17px;
  background-image: -webkit-gradient(linear,100% 0%, 0% 100%,
    color-stop(0.12, #eee),
    color-stop(0.20, #f3f5fa),
    color-stop(0.60, #e4eafa),
    color-stop(1, #c9d5f6));
}


.button.pressed.end-arrow:after {
  background-color: #5884d6;
  border-color: #7488b8;

  /* Gecko */
  background-image: -moz-linear-gradient(-135deg,
    #eeeeee 12%,
    #709de7 20%,
    #5884d6 60%,
    #4470ca 100%);

  /* webkit */
  background-image: -webkit-gradient(linear,100% 0%, 0% 100%,
    color-stop(0.12, #eee),
    color-stop(0.20, #709de7),
    color-stop(0.60, #5884d6),
    color-stop(1, #4470ca));
}

.buttons {
  margin: 1px 2px;
  overflow: hidden;
  white-space: nowrap;
}

.buttons .button {
  border-left-width: 0;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.buttons .button:first-child {
  border-left-width: 1px;

  /* gecko */
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;

  /* webkit */
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
}

.buttons .button:last-child {
  /* gecko */
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;

  /* webkit */
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

.ui-slider-handle { width: 30px; }

.container {
   position: absolute;
   top: 50%;
   margin-top: -140px;/* half of #content height*/
   left: 0;
   width: 100%;
}
